.card, .btn, .form-control { 
    border-radius: .3em;
}
textarea {
    margin-top: .5em;
    resize: none;
    width: 100%;
    border-radius: .5em;
}
.search {
    border-radius: .5em;
    border: none;
}
.show_messages {
    margin-left: .5em;
    margin-right: .5em;
}
.card-body {
    margin-top: .5em;
    border-radius: 0%;
    padding: 0%;
    border: none;
}
.col-sm-8 {
    margin-top: .5em;
}
.col-sm-4 {
    margin-top: .5em;
}
