.card, .btn, .form-control { 
    border-radius: .3em;
    max-width: 100%;
}
textarea {
    margin-top: .5em;
    resize: none;
    width: 100%;
    border-radius: .5em;
}
.search {
    border-radius: .5em;
    border: none;
}
.show_messages {
    margin-left: .5em;
    margin-right: .5em;
}
.card-body {
    margin-top: .5em;
    border-radius: 0%;
    padding: 0%;
    border: none;
}
.col-sm-8 {
    margin-top: .5em;
}
.col-sm-4 {
    margin-top: .5em;
}
.grp {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(218, 218, 238);
    padding: 10px;
}
.usr {
    background-color: rgb(218, 218, 238);
    padding: 10px;
}
.lgn {
    padding: 10px;
    background-color: rgb(218, 218, 238);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}