/* remove rounding from cards, buttons and inputs */
.card, .btn, .form-control { 
    border-radius: .3em;

}
.col-6 {
    background: ghostwhite;
    margin-top: .5em;
    border-radius: .5em;
}
.col {
    background: ghostwhite;
    margin-top: .5em;
    border-radius: 20px;
    margin-left: .5em;
    margin-right: .5em;
}
.viestit {
    background: white;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: .5em;
}
textarea {
    resize: none;
    width: 100%;
    border-radius: .5em;
}
body {
    background-color: rgb(255, 255, 255);
}