<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
<link rel="stylesheet" type="text/css" href="/static/custom.css">
<title>{% block title %}Etusivu{% endblock %}</title>
<div class="container">
    <div class="row">
      <div class="col-sm-8">
      {% block first %}
      {% if session.user_id and session.receive %} 
        <div class="embed-responsive embed-responsive-1by1">
          <iframe class="embed-responsive-item" src="/messages"></iframe>
        </div>
        <form action="/send" method="POST" onsubmit="return check(this)">
          <div class="form-group">
            <textarea class="form-control" id="message_textarea" placeholder="Kirjoita viesti tähän" name="new_message" rows="2"></textarea>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          </div>
          <input class="btn btn-primary btn-sm" type="submit" value="Lähetä">
        </form>
      {% endif %}
      {% if not session.user_id %}
        <nav class="navbar navbar-expand-sm navbar-primary">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/login">Kirjaudu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Rekisteröidy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/roni-b/tsoha-2022_chat-app">tsoha-2022_chat-app - GitHub</a>
            </li>
          </ul>
        </nav>
      {% endif %}
      {% endblock %}
      </div>

      <div class="col-md-auto">
      {% block second %}
      {% if session.user_id %}
        <div class="grp">
        <h3>Omat ryhmät</h3>
      {% for group in groups %}
        <form action="/conversation" method="POST">
          <input class="btn btn-primary btn-sm" name="group" value="{{group[0]}}" type="submit">
        </form>
      {% endfor %}
      {% if session.receive %}
        <form action="/exit_group" method="GET">
          <input class="btn btn-danger btn-sm" value="Poistu nykyisestä ryhmästä" type="submit">
        </form>
      {% endif %}
        </div>
        <div class="usr">
        <h3>Käyttäjät</h3>
        <form action="/new_conversation" method="POST">
      {% for user in users %}
      {% if user[0] != session.username%}
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="choices" value="{{user[0]}}" id="check_default">
          <label class="form-check-label" for="check_default">{{user[0]}}</label>
        </div>
      {% endif %}
      {% endfor %}
          <input class="btn btn-primary btn-sm" type="submit" value="Luo viestiketju">
        </form>
        <form action="/search" method="GET">
          <div class="form-group">
            <label for="search_bar">Hae viesteistä</label>
            <input class="form-control" type="text" name="query" id="search_bar">
          </div>
          <input class="btn btn-primary btn-sm" type="submit" value="Etsi viestiä">
        </form>
          </div>
        <div class="lgn">
          <p>Olet kirjautunut nimellä {{ session.username }}</p>
          <a href="/logout">Kirjaudu ulos</a>
        </div>
      {% endif %}
      {% endblock %}
      </div>
    </div>
</div>

<script>
    function check(form) {
        if (form.new_message.value.length > 100) {
            alert("Teksti ylittää 100 merkin rajan");
            return false;
        }
        return true;
    } 
  </script>
