<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Sovellus</title>
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h1>Tietokantasovellus</h1>
            <br>
            {% for a in messages %}
            {{a[0]}}
            <br>
            {{a[1].strftime("%d.%m %H:%M")}}
            <br>
            <hr>
            {% endfor %}
            <form action="/send" method="POST" onsubmit="return check(this)">
                <textarea name="new_message"></textarea>
                <br></br>
                <input type="submit" value="Lähetä">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            {{error}}
        </div>
        <div class="col">
            <br>
            {% if session.user_id %}
            <p>Olet kirjautunut nimellä {{ session.username }}</p>
            <a href="/logout">Kirjaudu ulos</a>
            <br>
            {% else %}
            <p>Kirjaudu sisään</p>
            <form action="/login" method="POST">
                <p>Tunnus:<br>
                <input type="text" name="username"></p>
                <p>Salasana:<br>
                <input type="password" name="password"></p>
                <input type="submit" value="Kirjaudu">
            </form>
            <a href="/register">Rekisteröidy</a>
            {% endif %}
        </div>
    </div>
</div>


<script>
    function check(form) {
        if (form.new_message.value.length > 100) {
            alert("Teksti ylittää 100 merkin rajan");
            return false;
        }
        return true;
    }
    </script>
