{% extends "index.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block second %}
<h4>Kirjaudu sisään</h4>
<form action="/login" class="form-group" method="POST">
    <label for="input-user">Käyttäjätunnus</label>
    <input type="text" class="form-control" id="input-user" name="username"></p>
    <label for="input-password">Salasana</label>
    <input type="password" class="form-control" id="input-password" name="password"></p>
    <input class="btn btn-primary btn-sm" type="submit" value="Kirjaudu">
</form>
<a href="/">Etusivulle</a> 
{% endblock %}

